<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You're Invited</h1>
    <p>
    <%= @inviter %> has invited you to a blind wine tasting, sommelier-style!
    </p>

    <p>
    Your mission, should you choose to accept it, is to bring a <%= @event_wine.wine.name %>. <%= @event_wine.wine.description %>
    </p>

    <p>
    To accept or decline, just go to  

    <%= link_to 'this url', edit_event_wine_url(@event_wine, {d: @event_wine.wine_bringer.remember_digest}) %>.
    </p>

    <p>
    On the day of the event, you can <%= link_to 'go here to start tasting', quiz_url(@event_wine.event, {d: @event_wine.wine_bringer.remember_digest}) %>.
    </p>

    <p>
    Happy sipping!
    </p>
  </body>
</html>
