<h1><%= @wine_bringer %>'s Wine</h1>
  <%= form_for @tasting do |f| %>
    <% if @wine.color == 'red' %>
      <%= render 'red_wine' %>
    <% else %>
      <%= render 'white_wine' %>
    <% end %>

    <label for="tasting_notes">Tasting Notes</label><br>
    <textarea name="tasting_notes" rows="4" cols="50" placeholder="Enter descriptors (ie: sour cherry, wet river rock, oregano)"></textarea>

    <%= hidden_field_tag :event_wine_id, @event_wine.id %>
  <%= f.submit "Continue", :class => "button" %>
  <% end %>
