<h1><%= @event.name %></h1>
<p><%= @event.date %></p>
<p><%= @event.time %></p>
<p><%= @event.location %></p>

<div class="error">
  <% if flash[:event_wine_error] %>
    <% flash[:event_wine_error].each do |msg| %>
      <p><%= msg %></p>
    <%end%>
  <%end%>
</div>

<%= form_for @new_invite, :html => {:class => "pure-form"} do |f| %>
  <fieldset>
    <%= f.text_field :wine_bringer, placeholder: "Guest id" %><br>
    <%= f.submit 'Invite', class: 'pure-button' %>
  </fieldset>
<% end %>

<h2>Guests</h2>
<%= @event.event_wines.each do |invitation| %>
  <p><%= invitation.wine_bringer.name %></p>
<% end %>

<% if session[:id] == @event.user_id %>
  <%= button_to "Edit Event", edit_event_path(@event), :method => :get, :id => "btn-edit-event" %>
<% end %>

<p>Button to start tasting.</p>

<!-- Need to either format the display to show just the
date and the time or save it better in the database. -->

