<h1><%= @event.name %></h1>
<p><%= @event.date.strftime("%m/%d/%y")%></p>
<p><%= @event.time.strftime("%l:%M %p") %></p>
<p><%= @event.location %></p>
<h2>Attendees</h2>
<ul><% @event.attending_users.each do |user| %>
  <li><%= user.email%></li>
  <!-- link to profile? later -->
<% end %></ul>

<% if @event.attending_users.include?(User.find(session[:user_id])) %>

	<p>You are bringing a <%= @event_wine.wine.name %>. <%= @event_wine.wine.description %></p>

  <%= button_to "Edit Event", edit_event_path(@event), :method => :get, :id => "btn-edit-event" %>
<% end %>

<!-- User shouldn't see either of these if they've already taken all of their tastings, but they should see them if they've only taken some of them.-->
<%= button_to "Start Tasting!", "/events/#{@event.id}/quiz", :method => :get %>
<%= link_to "See Results", my_results_path %>
