<h2>My Results</h2>
<h3 id="result-event"><%= link_to @event.name, @event %></h3>
<h5><%= @event.date.strftime("%m/%d/%y")%></h5>
<% @score_report.each do |report| %>
<h3><%= report[:wine_bringer].capitalize %>'s Wine :</h3>
<table class="results">
  <tr>
    <td><p><b>Your answer</b><p></td>
    <td></td>
    <td><p><b>The Master Somm's</b></p></td>
  </tr>
  <% report[:user_results].each do |attr, val| %>
    <tr>
      <td></td>
      <td><p><b><%= attr %><b/></p></td>
      <td></td>
    </tr>
    <tr>
      <td><p><%= report[:user_results][attr][:text_response] %></p></td>
      <td>
      <% if report[:user_results][attr][:text_response] == report[:correct_answers][attr][:text_response] %>
        <div class="correct"><p>&#x2713;</p></div></td>
      <% else %>
        <% if report[:correct_answers][attr][:num_response] == 0 && report[:user_results][attr][:num_response] == 0 %>
          <div class="sad-face"><img src="/images/sad-face.png"></div></td>
        <% else %>
          <div class="circle"><div class="micrograph">
            <!-- multiply num response value by percentage (ie 1 => 20%, 2 => 40%) -->
            <% user_height = report[:user_results][attr][:num_response] * 20 %>
            <% somm_height = report[:correct_answers][attr][:num_response] * 20 %>
            <% user_margin = 100 - user_height %>
            <% somm_margin = 100 - somm_height %>
            <div class="user-response" style="height: <%= user_height %>%; margin-top: <%= user_margin %>%;">
            </div>
            <div class="somm-response" style="height:<%= somm_height %>%; margin-top: <%= somm_margin %>%;">
            </div></div>
          </div>
        <% end %>
      <% end %>
      </td>
      <td><p><%= report[:correct_answers][attr][:text_response] %></p></td>
    </tr>
  <% end %>
    <tr class="observation_score">
      <td><p>What You Observed</p></td>
      <td colspan="2"><p><%= report[:observation_score] %></p></td>
    </tr>
    <tr class="observation_feedback">
      <td colspan="3">
        <% report[:observation_feedback].each do |attr, feedback| %>
          <p><%= attr %>: <%= feedback %></p>
        <% end %>
      </td>
    </tr>
  </table>

  <table class="results">
    <% report[:user_conclusions].each do |attr, val| %>
    <tr>
      <td><p><%= report[:user_conclusions][attr] %></p></td>
        <td><p><%= attr %></p><br>
      <% if report[:user_conclusions][attr] == report[:correct_conclusions][attr] %>
        <div class="correct"><p>&#x2713;</p></div></td>
      <% else %>
        <div class="sad-face"><img src="/images/sad-face.png"></div></td>
      <% end %>
      <td><p><%= report[:correct_conclusions][attr] %></p></td>
    </tr>
    <% end %>
    <tr class="conclusion_score">
      <td><p>Conclusion</p></td>
      <td colspan="2"><p><%= report[:conclusion_score] %></p></td>
    </tr>
    <tr class="conclusion_feedback">
      <!-- <td colspan="3"><p> report[:conclusion_feedback] %></p></td> -->
      <td colspan="3">
      <% if report[:conclusion_feedback] %>
        <% report[:conclusion_feedback].each do |attr, correct_val| %>
          <p><%= attr[:category] %>: <%= report[:user_conclusions]["Grape"] %> from <%= report[:user_conclusions]["Country"] %> typically has <%= attr[:correct_response] %> <%= attr[:category].downcase %>.</p>
        <% end %>
      <% end %>
      </td>
    </tr>
    <tr></tr>
  </table>
<% end %>

