<h2>My Results</h2>
<% @score_report.each do |report| %>
  <h3><%= report[:wine_bringer] %>'s Wine :</h3>
  <ul>
    <% report[:user_results]["Country"] = "the #{report[:user_results]["Country"]}" if report[:user_results]["Country"] == "United States" %>
    <li>You guessed: <%= report[:user_results]["Grape"] %> from <%= report[:user_results]["Country"] %></li>
    <li>The wine was: <%= report[:correct_answers]["Grape"] %> from <%= report[:correct_answers]["Country"] %></li>
    <% report[:user_results].each do |attr, val| %>
      <h4><%= attr %></h4>
      <% if report[:user_results][attr] == report[:correct_answers][attr] %>
        <font color="green"><li>Correct: <%= val %></li></font>
      <% else %>
        <font color="#8B0000"><li>Incorrect: <%= val %></li></font>
        <font color="green"><li>Answer: <%= report[:correct_answers][attr] %></li></font>
      <% end %>
    <% end %>
    <li>Your observations were: <%= report[:observation_score] %></li>
    <li>Your wine choice based on your observations was: <%= report[:conclusion_score] %></li>
  </ul>
  <!-- add jquery slider here to view more in depth feedback -->
<% end %>

<!--<%= @graph_data %>-->

<div id="chart_div">

</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Aspect', 'My Score', 'Max Score'],
           <% @graph_data.each do |attr, val| %>
           [ '<%= attr  %>', <%= val %>, <%= @graph_data.invert.length %>],
           <% end %>
          // ['Steven', '6']
        ]);

        var options = {
          title: 'This Event',
          vAxis: {title: 'Categories',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
