<h2>My Results</h2>
<% @score_report.each do |report| %>
<h3><%= report[:wine_bringer] %>'s Wine :</h3>
<table style="width:100%">
  <tr>
    <td>You</td>
    <td></td>
    <td>The Master Somm</td>
  </tr>
  <% report[:user_results].each do |attr, val| %>
    <tr>
      <td></td>
      <td><%= attr %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= report[:user_results][attr][:text_response] %></td>
      <% if report[:user_results][attr][:num_response] == report[:correct_answers][attr][:num_response] %>
        <td>&#x2713;</td>
      <% else %>
        <td><div class="micrograph">
          <!-- multiply num response value by percentage (ie 1 => 20%, 2 => 40%) -->
          <% user_height = report[:user_results][attr][:num_response] * 20 %>
          <% somm_height = report[:correct_answers][attr][:num_response] * 20 %>
          <% user_margin = 100 - user_height %>
          <% somm_margin = 100 - somm_height %>
          <div class="user-response" style="height: <%= user_height %>%; margin-top: <%= user_margin %>%;">
          </div>
          <div class="somm-response" style="height:<%= somm_height %>%; margin-top: <%= somm_margin %>%;">
          </div>
        </div></td>
      <% end %>
      <td><%= report[:correct_answers][attr][:text_response] %></td>
    </tr>
  <% end %>
</table>
<% end %>

