<h2>My Results</h2>
<% @score_report.each do |report| %>
  <h3><%= report[:wine_bringer] %>'s Wine :</h3>
  <ul>
    <% if report[:user_results]["Country"] == "United States" %>
      <% report[:user_results]["Country"] = "the #{report[:user_results]["Country"]}" %>
    <% end %>
    <% if report[:correct_answers]["Country"] == "United States" %>
      <% report[:correct_answers]["Country"] = "the #{report[:correct_answers]["Country"]}" %>
    <% end %>
    <li>You guessed: <%= report[:user_results]["Grape"] %> from <%= report[:user_results]["Country"] %></li>
    <li>The wine was: <%= report[:correct_answers]["Grape"] %> from <%= report[:correct_answers]["Country"] %></li>
    <% report[:user_results].each do |attr, val| %>
      <h4><%= attr %></h4>
      <% if report[:user_results][attr] == report[:correct_answers][attr] %>
        <font color="green"><li>Correct: <%= val %></li></font>
      <% else %>
        <font color="#8B0000"><li>Incorrect: <%= val %></li></font>
        <font color="green"><li>Answer: <%= report[:correct_answers][attr] %></li></font>
        <li><%= report[:feedback_hash][attr] %></li>
      <% end %>
    <% end %>
    <li>Your observations were: <%= report[:observation_score] %></li>
    <li>Your wine choice based on your observations was: <%= report[:conclusion_score] %></li>
    <%= report[:conclusion_feedback] if report[:conclusion_feedback] %>
  </ul>

  <!-- add jquery slider here to view more in depth feedback -->
<% end %>
