<!-- TODO: controls for user privacy -->
<h3>Welcome</h3>

<p>You have been invited to a blind wine tasting by <%= User.find_by(id: @event_wine.event.user_id).name %>!</p> <!-- TODO: refactor this -->

<p>You've been asked to bring a <%= @event_wine.wine.name %>. <%= @event_wine.wine.description %></p>

<p>The tasting will occur at <%= @event_wine.event.time.strftime("%l:%M %p") %>, on <%= @event_wine.event.date.strftime("%m/%d/%y")%>.</p>

<p>Location: <br>
<%= @event_wine.event.location %>

<%= form_for :event_wine do |f| %>
 <%= f.hidden_field :is_attending, value: true %>
<%= f.submit "Accept Mission", :class => "button" %>
<% end %>

<%= form_for :event_wine do |f| %>
 <%= f.hidden_field :is_attending, value: false %>
<%= f.submit "Decline Mission", :class => "button" %>
<% end %>
