<!-- TODO: controls for user privacy -->
<h3>Welcome, <%= @event_wine.wine_bringer.name %>!</h3>

<p>You have been invited to a blind wine tasting by <%= User.find_by(id: @event_wine.event.user_id).name %>.</p> <!-- TODO: refactor this -->

<p>Your mission, should you choose to accept it, is to bring a <%= @my_wine.name %>. <%= @my_wine.description %></p>

<%= form_for :event_wine do |f| %>
 <%= f.hidden_field :is_attending, value: true %>
<%= f.submit "Accept Mission", :class => "button" %>
<% end %>

<%= form_for :event_wine do |f| %>
 <%= f.hidden_field :is_attending, value: false %>
<%= f.submit "Decline Mission", :class => "button" %>
<% end %>
