<h3>Welcome, <%= @event_wine.wine_bringer.name %>!</h3>

<p>You are bringing a <%= @event_wine.wine.name %>. <%= @event_wine.wine.description %></p>

<%= link_to "Edit User Info", edit_user_path(session[:user_id]) %>

<%= link_to "My Events", my_events_path %>
