<h3>Glad you'll be able to make it, <%= @event_wine.wine_bringer.name %>!</h3>

<p>You are bringing a <%= @event_wine.wine.name %>. <%= @event_wine.wine.description %></p>

<% if @event_wine.wine_bringer.name == "Guest" %>
	<p>Your profile is only 33% complete! <%= link_to "Add your name", edit_user_path(session[:user_id]) %> so your friends know who is attending!</p>
<% end %>

<%= link_to "My Events", my_events_path, :class => "button" %>
